.navbar {
  background: linear-gradient(90deg, #7a0213 0%, #cd0c2b 100%);
  border: 1px solid black;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background: linear-gradient(180deg, #7a0213 0%, #cd0c2b 100%);
  width: auto;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-button {
  position: absolute;
  bottom: 0;
  margin-left: 2.2rem !important;
  margin-bottom: 3rem !important;
  list-style: none;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.custom-icon {
  color: white;
  font-size: 30px !important;
  transform: scale(2);
}
.fab {
  display: flex;
}

.nav-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #cd0c2b;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #7a0213;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.span {
  margin-left: 16px;
}
