body{
  transition: background 0.5s ease;
}

@media only screen and (min-width: 1200px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
  }
  body::-webkit-scrollbar {
    width: 0.7em;
  }
   
  body::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    border-radius: 30px;
    background: transparent;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    
    border-radius: 30px;
  }
  .darkMode {
    background: #131313;
    transition: background 1s ease;
    margin: 0 !important;
  }
  .darkModeFont {
    color: white;
    transition: color 1s ease;
  }
  .home,
  .gitlab,
  .aboutme {
    
    margin: 0 !important ;
    padding: 32px !important;
    display: flex;
    flex-direction: column;
    height: auto ;
    margin: 1rem;
    padding: 1rem;
    align-items: right;
    justify-content: right;
    font-size: 1rem;
    min-width: 300px;
    transition: all 0.7s ease;
  }
  .h1 {
    margin: 1rem 1rem 1rem 7.5vw;
    width:35vw!important;
    border-radius: 1vw;
    height: auto;
    width: auto;
    text-align: justify !important;
    justify-content: right;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    transition: all 0.5s ease;
    padding: 2.5vw;
    color:white;
    background: #CD0C2B;
    font-size: 2vw;
  }
  .h1:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
    opacity: 0.85;
  }
  .h1:nth-child(2n){
    width: 35vw;
    align-items: right;
    justify-content: right !important;
    margin-left: 56vw !important;
    background: #034780;
  }
  
  .gitlab-link {
    margin: 1rem 1rem 1rem 7.5vw;
    text-decoration: none;
    width:35vw!important;
    border-radius: 1vw;
    height: auto;
    width: auto;
    text-align: justify !important;
    justify-content: right;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    transition: all 0.5s ease;
    padding: 2.5vw;
    color:white;
    background: #CD0C2B;
    font-size: 3vw;
  }
}


@media only screen and (max-width:1200px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Teko', sans-serif;
  }
  body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
  .darkMode {
    background: #131313;
    transition: background 1s ease;
    margin: 0 !important;
  }
  .darkModeFont {
    color: white;
    transition: color 1s ease;
  }
  .home,
  .gitlab,
  .aboutme {
    margin: 0 !important ;
    padding: 32px !important;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    align-items: right;
    justify-content: right;
    font-size: 0.7rem;
    min-width: 300px;
    transition: background 1s ease;
  }
  .gitlab{
    height: 93.82vh;
  }
  .h1 {
    margin: 1rem 1rem 1rem 11.5vw;
    width: 70vw !important;
    border-radius: 1vw;
    height: auto;
    width: auto;
    text-align: center;
    justify-content: right;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    transition: all 0.5s ease;
    color:white;
    padding: 7vw;
    background: #CD0C2B;
    font-size: 5vw;
  }
  .h1:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
    opacity: 0.85;
  }
  .h1:nth-child(2n){
    width: 35vw;
    align-items: right;
    background: #034780;
  }
  
  .gitlab-link {
    text-decoration: none;
    margin: 1rem 1rem 1rem 11vw;
    width: 70vw !important;
    border-radius: 1vw;
    height: auto;
    width: auto;
    text-align: center;
    justify-content: right;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    transition: all 0.5s ease;
    color:white;
    padding: 5vw;
    background: #CD0C2B;
    font-size: 5vw;
  }
  .gitlab-link:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
    opacity: 0.85;
  }
}
